.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.advantages__list {
  @extend %list;

  @media screen and (min-width: 768px) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.advantages__item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 120px) / 4);
  }
}
.advantages__item:nth-child(2n) {
  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 0px;
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}
.advantages__item:nth-child(-n + 2) {
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.advantages__wrap {
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;

  text-align: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantages__title {
  margin-bottom: 10px;

  @include font("Roboto", normal, 700, 14px, 1.14, 0.03em);
  text-align: center;
  text-transform: uppercase;
  color: #212121;

  @media screen and (min-width: 1200px) {
    @include font("Roboto", normal, 700, 14px, 1.17, 0.03em);
  }
}

.advantages__desctiption {
  @include font("Roboto", normal, 400, 14px, 1.71, 0.03em);
  text-align: start;
  color: var(--additional-text-color);
}
