.wwd {
  padding-bottom: 94px;

  &__title {
    margin-bottom: 50px;

    text-align: center;
    @include font("Roboto", normal, 700, 36px, 1.17, 0.03em);
    color: var(--main-text-color);
  }

  display: none;
  @media screen and (min-width: 1200px) {
    display: contents;
  }
}
.wwd__list {
  @extend %list;
  @extend %middleflex;
}

.wwd__item + .wwd__item {
  margin-left: 30px;
}

.wwd__wrap {
  position: relative;
}
.wwd__image {
  width: 370px;
}

.wwd__description {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  text-align: center;
  @include font("Roboto", normal, 700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
